@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/* || REST */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* || VARIABLES */
:root {
    /* COLORS */
    --YELLOW: #FFB21E;
    --YELLOW-95: hsla(39, 100%, 56%, 0.05);
    --BLUE: #1125D6;
    --BLUE-95: hsla(234, 85%, 45%, 0.05);
    --GREEN: #00BB8F;
    --GREEN-95: hsla(166, 100%, 37%, 0.05);
    --RED: #FF5555;
    --RED-95: hsla(0, 100%, 67%, 0.05);
    --DARK-NAVY: #303B59;
    --LIGHT-BLUE: #CAC9FF;
    --VERY-LIGHT-BLUE: #ECF2FF;
    --WHITE: #FFFFFF;

    /* GRADIENTS */
    --GRADIENT-1: linear-gradient(0deg, #7755FF 0%, #6943FF 0%, #2F2CE9 100%);
    --GRADIENT-2: linear-gradient(0deg, #4D21C9 0%, hsla(241, 72%, 46%, 0) 100%, hsla(241, 72%, 46%, 0) 100%);

    /* SHADOWS */
    --SHADOW: 0px 30px 60px 0px hsla(224, 82%, 58%, 0.15);

    /* TYPOGRAPHY */
    --FF: "Hanken Grotesk", sans-serif;

    /* TYPOGRAPHY - MOBILE */
    --HEADING-XL-MOB: 800 3.5rem/4.5rem var(--FF);
    --HEADING-L-MOB: bold 1.5rem var(--FF);
    --HEADING-M-MOB: bold 1.125rem var(--FF);
    --BODY-BOLD-MOB: bold 1rem var(--FF);
    --BODY-MOB: 500 1rem var(--FF);

    /* TYPOGRAPHY - DESKTOP */
    --HEADING-XL-DSK: 800 4.5rem/4.5rem var(--FF);
    --HEADING-L-DSK: bold 2rem var(--FF);
    --HEADING-M-DSK: bold 1.5rem var(--FF);
    --BODY-BOLD-DSK: bold 1.125rem var(--FF);
    --BODY-DSK: 500 1.125rem var(--FF);
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.responsive-image {
    display: none;
}

/* MOBILE FIRST DESIGN */
/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
}

/* || RESULTS-CARD */
.results-card {
    width: 100%;
    min-height: 809px;
    background-color: var(--WHITE);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
}

/* || RESULTS-CARD - HEADER */
.results-card__header {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 356px;
    border-radius: 0px 0px 32px 32px;
    background-image: var(--GRADIENT-1);
    box-shadow: var(--SHADOW);
    padding: 1.5rem 3.5625rem 2.5rem 3.625rem;
}

.results-card__title {
    font: var(--HEADING-M-MOB);
    color: var(--LIGHT-BLUE);
}

.results-card__avg-group {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: var(--GRADIENT-2);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.results-card__avg-result {
    color: var(--WHITE);
    font: var(--HEADING-XL-MOB);
}

.results-card__avg-denominator {
    font: var(--BODY-BOLD-MOB);
    color: var(--LIGHT-BLUE);
    opacity: 51.68%;
}

.results-card__summary-group {
    width: 260px;
}

.results-card__impression {
    font: var(--HEADING-L-MOB);
    color: var(--WHITE);
    margin-bottom: .5rem;
}

.results-card__description {
    font: var(--BODY-MOB);
    color: var(--LIGHT-BLUE);
}

/* || RESULTS-CARD - CONTENT */
.results-card__content {
    width: 315px;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.results-card__sub-title {
    font: var(--HEADING-M-MOB);
    color: var(--DARK-NAVY);
}

.results-card__results-container {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
}

.results-card__result-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    height: 56px;
    padding: 1.0625rem 1rem 1rem;
    border-radius: 12px;
}

.results-card__result-item--reaction {
    background-color: var(--RED-95);
}

.results-card__result-item--memory {
    background-color: var(--YELLOW-95);
}

.results-card__result-item--verbal {
    background-color: var(--GREEN-95);
}

.results-card__result-item--visual {
    background-color: var(--BLUE-95);
}

.results-card__category-group {
    display: flex;
    gap: 12px;
    align-items: center;
}

.results-card__icon img {
    max-width: 20px;
}

.results-card__result-category {
    font: var(--BODY-MOB);
}

.results-card__result-category--reaction {
    color: var(--RED);
}

.results-card__result-category--memory {
    color: var(--YELLOW);
}

.results-card__result-category--verbal {
    color: var(--GREEN);
}

.results-card__result-category--visual {
    color: var(--BLUE);
}

.results-card__final-group {
    font: var(--BODY-BOLD-MOB);
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--DARK-NAVY);
}

.results-card__final-denominator {
    opacity: 50%;
}

.results-card__continue-btn {
    border: none;
    width: 315px;
    height: 56px;
    background-color: var(--DARK-NAVY);
    border-radius: 128px;
    font: var(--BODY-BOLD-DSK);
    color: var(--WHITE);
    line-height: 56px;
}

.results-error {
    color: var(--RED);
    font: var(--BODY-MOB);
}

@media screen and (min-width: 992px) {
    body {
        background-color: var(--VERY-LIGHT-BLUE);
        display: grid;
        place-content: center;
    }

    /* || RESULTS-CARD */
    .results-card {
        width: 736px;
        min-height: 512px;
        border-radius: 32px;
        flex-flow: row;
        gap: 2.5rem;
        overflow: hidden;
    }

    /* || RESULTS-CARD - HEADER */
    .results-card__header {
        gap: 0rem;
        width: 368px;
        height: 512px;
        border-radius: 32px;
        padding: 2.375rem 3.375rem 2.875rem;
    }

    .results-card__title {
        font: var(--HEADING-M-DSK);
        margin-bottom: 2.1875rem;
    }

    .results-card__avg-group {
        width: 200px;
        height: 200px;
        margin-bottom: 1.75rem;
    }

    .results-card__avg-result {
        font: var(--HEADING-XL-DSK);
    }

    .results-card__avg-denominator {
        font: var(--BODY-BOLD-DSK);
    }

    .results-card__impression {
        font: var(--HEADING-L-DSK);
        margin-bottom: .875rem;
    }

    .results-card__description {
        font: var(--BODY-DSK);
    }

    /* || RESULTS-CARD - CONTENT */
    .results-card__content {
        width: 288px;
        gap: 0rem;
    }

    .results-card__sub-title {
        font: var(--HEADING-M-DSK);
        margin-bottom: 1.75rem;
    }

    .results-card__result-item {
        width: 288px;
        padding: 1.0625rem 1rem 1rem;
    }

    .results-card__results-container {
        margin-bottom: 2.5625rem;
    }

    .results-card__result-category {
        font: var(--BODY-DSK);
    }

    .results-card__final-group {
        font: var(--BODY-BOLD-DSK);
    }

    .results-card__continue-btn {
        width: 288px;
        transition: background-color 0.5s ease, box-shadow 0.5s ease;
        cursor: pointer;
    }

    .results-card__continue-btn:hover {
        background-image: var(--GRADIENT-1);
        box-shadow: var(--SHADOW);
    }

    .results-error {
        font: var(--BODY-DSK);
    }
}